* {
  box-sizing: border-box;
}

.header {
    width: 400px;
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    color: white;
}

.subheader {
    width: 400px;
    display: flex;
    margin: 20px auto;
    color: white;
}

.center-1 {
    width: 400px;
    display: flex;
    margin: 0 auto;
    z-index: 10;
    text-align: -webkit-center;
}

h1, h2, h3 {
    margin: 0 auto;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}

.myBtn {
  width: 200px;
  font-size: 18px;
  background: #000;
  cursor: pointer;

  background-color: white;
  border: none;
  color: rgb(0,95,180);

  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  margin: 0 auto;
}


.myBtn:hover {
  color: black;
}

.btn-round{
    border-radius: 40px;
}
